{% extends 'base.html.twig' %}



{% block body %}
    {% for msg in msgs %}

            <h3>{{ msg.usrLogin }}:  {{ msg.msg() }}</h3>

    {% endfor %}
<div class="form-group" style="margin-top: 40px">

    <label for="usr">Nowa wiadomość:</label>
        <input type="text" class="form-control" id="usr" style="width: 400px; height: 50px">
    <button type="submit" class="btn btn-default">Wyślij</button>

</div>
{% endblock %}
