{% extends 'base.html.twig' %}

{#{% block title %}Profil: {{ name }}{% endblock %}#}

{#{% block body %}#}
{% block title %}
    Lista uzytkownikow
{% endblock %}

{#{% block stylesheets%}#}
    {#<style>#}
        {#body{#}
            {#background-color: #595959;#}
        {#}#}

        {#h1{#}
            {#color: orange;#}
        {#}#}

        {#h2{#}
            {#color: orange;#}
        {#}#}
    {#</style>#}
{#{% endblock %}#}



{% block body %}

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>_||_Użytkownik</th>

        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id|e }}</td>

                <td style="margin-left: 20px"><a href="/kamil/showuser/{{ user.username|e }}">{{ user.username|e }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
